@import "tailwindcss";
@plugin "tailwindcss-animate";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  :root {
    color-scheme: dark;
  }

  body {
    @apply bg-slate-950 text-slate-50 overflow-hidden h-[100dvh] select-none;
    font-family: 'Inter', sans-serif;
    -webkit-tap-highlight-color: transparent;
  }

  #root {
    @apply h-full flex flex-col;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-slate-800 rounded-full;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-700;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
